.TodoList__container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1.5em;
}

.TodoList__header {
  text-align: right;
  padding: 0 0.25em;
}

.TodoList__counter {
  position: absolute;
  right: 0.4em;
  top: 2em;
}

.TodoList__items--text-empty {
  margin-top: 1em;
  text-align: center;
}

.TodoList__btn-hideshow {
  margin-top: 1em;
  padding: 0.75em 1em;
  width: fit-content;
  background: var(--clr-green);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  font-size: 0.85em;
  letter-spacing: 1.5px;
  position: absolute;
  top: -0.2em;
}

.TodoList__items {
  display: flex;
  flex-direction: column;
  margin: 3em 0 0;
  gap: 1em;
}

.TodoList__btn-hideshow:hover {
  cursor: pointer;
  opacity: 0.9;
}
@media screen and (min-width: 768px) {

  .TodoList__container {
    margin-top: 3em;
  }

  .TodoList__container::before {
    content: "";
    position: relative;
    margin: 0 auto;
    height: 0.2rem;
    width: 40%;
    top: -1.5em;
    right: 0.7rem;
    background: #83c5be;
  }

  .TodoList__items--text-empty {
    font-size: 1.1rem;
  }
}